<% # = tag("meta", name: "room-token", content: content_for(:head))  %>
<%= content_for :head, @room_id.html_safe %>

<%= @user_token.qr_code(@room_id).as_html.html_safe %>

<p>You would hide this url within the QR code:</p>
<%=
  @user_token.consume_url(@room_id)
  # `user_token` is something your mobile application would append to the URL
%>
